<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mail</title>
</head>
<body>
	<form action="" id="contact-form">
	  <div class="input mb">
	    <div class="hidden"><label for="name" class="required">Name</label></div>
	    <div class="icon-container"><input type="text" name="name" id="name" placeholder="Name" class="icon-content" required><span class="fas fa-user icon"></span></div>
	  </div>
	
	  <div class="input mb">
	    <div class="hidden"><label for="email" class="required">Email</label></div>
	    <div class="icon-container"><input type="email" name="email" id="email" placeholder="Email" class="icon-content" required><span class="fas fa-envelope icon"></span></div>
	  </div>
	
	  <div class="input mb">
	    <div class="hidden"><label for="subject" class="required">Subject</label></div>
	    <div class="icon-container"><input type="text" name="subject" id="subject" placeholder="Subject" class="icon-content" required><span class="fas fa-pencil-alt icon"></span></div>
	  </div>
	
	  <div class="input mb">
	    <div class="hidden"><label for="message" class="required">Message</label></div>
	    <div class="icon-container"><textarea name="message" id="message" cols="10" rows="5" placeholder="Message..." class="icon-content" required></textarea><span class="fas fa-quote-left icon"></span></div>
	  </div>
	
	  <div class="input mb">
	    <button type="submit" class="btn text-center">Send Message</button>
	  </div>
	</form>
</body>
</html>